@page "/edittemp"

<h1>Hello, world!</h1>

Welcome to your new app.
@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.Grids
@using Syncfusion.EJ2.Blazor.Data


<EjsGrid ID="Grid" ModelType="@model">
    <GridEditSettings AllowEditing="true" AllowDeleting="true" AllowAdding="true" Mode="@EditMode.Normal"></GridEditSettings>
    <GridColumns>
        <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" IsPrimaryKey="true" TextAlign="@TextAlign.Center" Width="140"></GridColumn>
        <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer Name" Width="150">
            <EditTemplate>
                <Input id="CustomerID" name="CustomerID" value="@((context as OrdersDetails).CustomerID)" />
            </EditTemplate>
        </GridColumn>
        <GridColumn Field=@nameof(OrdersDetails.Freight) HeaderText="Freight" EditType="numericedit" Format="C2" Width="140" TextAlign="@TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" EditType="datepickeredit" Format="yMd" Type="date" Width="160"></GridColumn>
        <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" EditType="dropdownedit" Width="150"></GridColumn>
    </GridColumns>
</EjsGrid>


@functions{
    public List<OrdersDetails>
    gridData { get; set; }
    public OrdersDetails model = new OrdersDetails();

    protected override void OnInit()
    {
    gridData = OrdersDetails.GetAllRecords();
    }
    }


